*{
    margin: 0;
    padding: 0;
}


.animaciones1{
    width: 400px;
    height: 400px;
    margin: 50px;
    background-color: darkorange;
}
.animaciones1:hover{
    animation: changeColor 10s;
}
/*fotogramas*/

@keyframes changeColor{
    0%{
        background-color: bisque;
    }
    15%{
        border-radius: 65%;
    }
    25%{
        width: 700px;
    }
    50%{
        background-color: blue;
        border: solid 4px cyan;
    }
    100%{
        background-color: chartreuse;
    }
}
.animaciones2{
    width: 300px;
    height: 300px;
    margin: 40px;
    background-color: darkgoldenrod;
}
.animaciones2:hover{
    animation: changeColor 5s;
}
/*fotogramas*/

@keyframes changeColor{
    0%{
        background-color: cornflowerblue;
    }
    25%{
        border-radius: 75%;
    }
    35%{
        width: 500px;
    }
    65%{
        background-color: blue;
        border: solid 6px cyan;
    }
    100%{
        background-color: chartreuse;
    }
}
